
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #200E32; /* Scrollbar color */
  border-radius: 10px;
  border: 3px solid #ffffff; /* Creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}




input {
  outline: none;
}



.input-container {
  position: relative;
  width: 100%;
}

.input-container svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Espace à gauche pour l'icône */
  
  border-radius: 12px;

}